*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 212, 231);
}

.content__item{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__image{
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.image__upper-label{
    position: absolute;
    background-color: rgb(110, 55, 110);
    width: 40%;
    height: 15%;
    text-align: center;
    line-height: 30px;
    font-family: 'Raleway-Medium';
    color: white;
    z-index: 3;
}

.item__image img{
    display: block;
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
    transform:scale(1);
    transition: all .3s linear;
    z-index: 0;
}

.image__down-label{
    background-color: rgba(255, 255, 255, 0.452);
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 50px;
    font-family: 'Raleway-Medium';
    transition: bottom .3s linear;
    z-index: 3;
}

.item__image:hover .image__down-label{
    bottom: 0;
}

.item__image:hover img{
    transform: scale(1.5);
}

.item__name{
    font-family: 'Raleway-Medium';
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 5px 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
}

.item__price{
    display: flex;
    font-family: 'Raleway-Medium';
}

.item__old-price{
    margin-right: 10px;
    text-decoration:line-through;
}

@media (max-width: 1024px) {
    .wrapper{
        max-width: 1024px;
    }
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item__image{
        width: 150px;
        height: 150px;
    }
    .image__upper-label{
        font-size: 14px;
        line-height: 20px;
    }
    .item__image img{
        max-width: 150px;
        max-height: 150px;
    }
    .image__down-label{
        font-size: 14px;
        line-height: 40px;
    }
    .item__name{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 3px;
    }
    .item__price{
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .wrapper{
        max-width: 767px;
    }
    .content{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .item__image{
        width: 100px;
        height: 100px;
    }
    .image__upper-label{
        font-size: 10px;
        line-height: 16px;
    }
    .item__image img{
        max-width: 100px;
        max-height: 100px;
    }
    .image__down-label{
        font-size: 10px;
        line-height: 30px;
    }
    .item__name{
        font-size: 10px;
        margin-bottom: 2px;
        line-height: 0;
    }
    .item__price{
        font-size: 10px;
    }
}
