@font-face{
    font-family: 'Raleway-Black'; 
    src:  url('static/Raleway-Black.ttf') format('truetype');   
    font-weight: 900;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-BlackItalic'; 
    src:  url('static/Raleway-BlackItalic.ttf') format('truetype');   
    font-weight: 900;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-Bold'; 
    src:  url('static/Raleway-Bold.ttf') format('truetype');   
    font-weight: 700;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-BoldItalic'; 
    src:  url('static/Raleway-BoldItalic.ttf') format('truetype');   
    font-weight: 700;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-ExtraBold'; 
    src:  url('static/Raleway-ExtraBold.ttf') format('truetype');   
    font-weight: 800;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-ExtraBoldItalic'; 
    src:  url('static/Raleway-ExtraBoldItalic.ttf') format('truetype');   
    font-weight: 800;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-ExtraLight'; 
    src:  url('static/Raleway-ExtraLight.ttf') format('truetype');   
    font-weight: 200;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-ExtraLightItalic'; 
    src:  url('static/Raleway-ExtraLightItalic.ttf') format('truetype');   
    font-weight: 200;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-Italic'; 
    src:  url('static/Raleway-Italic.ttf') format('truetype');   
    font-weight: 400;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-Light'; 
    src:  url('static/Raleway-Light.ttf') format('truetype');   
    font-weight: 300;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-LightItalic'; 
    src:  url('static/Raleway-LightItalic.ttf') format('truetype');   
    font-weight: 300;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-Medium'; 
    src:  url('static/Raleway-Medium.ttf') format('truetype');   
    font-weight: 500;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-MediumItalic'; 
    src:  url('static/Raleway-MediumItalic.ttf') format('truetype');   
    font-weight: 500;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-Regular'; 
    src:  url('static/Raleway-Regular.ttf') format('truetype');   
    font-weight: 400;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-SemiBold'; 
    src:  url('static/Raleway-SemiBold.ttf') format('truetype');   
    font-weight: 600;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-SemiBoldItalic'; 
    src:  url('static/Raleway-SemiBoldItalic.ttf') format('truetype');   
    font-weight: 600;   
    font-style: italic;   
}

@font-face{
    font-family: 'Raleway-Thin'; 
    src:  url('static/Raleway-Thin.ttf') format('truetype');   
    font-weight: 100;   
    font-style: normal;   
}

@font-face{
    font-family: 'Raleway-ThinItalic'; 
    src:  url('static/Raleway-ThinItalic.ttf') format('truetype');   
    font-weight: 100;   
    font-style: italic;   
}















